@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">One Of My Favorite Songs</h1>
    <p>Dance Macabre by Ghost</p>
</div>

<!--embedded YT vid-->
<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Gr63DiEUxw" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
        web-share" allowfullscreen></iframe>
</div>